<div id="sensor3" class="sensorWrapper">
  <div class="header">
    <div class="editable" *ngIf="editMode">
      <input value="{{sensorName}}"  #tmpName="" *ngIf="editMode" type="text">
      <button  (click)="confirm()">ok</button>
      <button  (click)="editMode=false">anuluj</button>
    </div>
    <div class="hdrContent" *ngIf="!editMode">
      <div  [class.danger]="(temperatureValue<=20)||(temperatureValue>=100)||(humidityValue<=20)||(humidityValue>=80)||(pressureValue<=2)||(pressureValue>=9)"></div>
      <h1>{{sensorName}}</h1>
      <button (click)="editMode=true">edytuj</button>
    </div>
  </div>
  <div class="measureDivider">
    <span>Temperatura</span>
    <canvas #tempCanvas></canvas>
    <h3 [class.dangerMin]="temperatureValue<=20" [class.dangerMax]="temperatureValue>=100">{{temperatureValue}}{{tempUnit}}</h3>

  </div>
  <div class="measureDivider">
    <span>Wilgotność</span>
    <canvas #humidityCanvas></canvas>
    <h3 [class.dangerMin]="humidityValue<=20" [class.dangerMax]="humidityValue>=80">{{humidityValue}}{{humUnit}}</h3>
  </div>
  <div class="measureDivider">
    <span>Ciśnienie</span>
    <canvas #pressureCanvas></canvas>
    <h3 [class.dangerMin]="pressureValue<=2" [class.dangerMax]="pressureValue>=9">{{pressureValue}}{{presUnit}}</h3>
  </div>
</div>
