$border:2px solid black;
$maxWidth:'screen and (max-width:768px)';
div.sensorWrapper{
  @media screen and (max-width: 768px){
    height: 23%;
    margin-top: 1%;
    width: 100%;
  }
  width: calc(25% - 2*0.3%);//normal width - border - margin
  height: 99%;
  margin: 0.3%;
  border-radius: 2px;
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

  div.header {
    margin-bottom: 3%;
    font-size: 4vh;
    font-style: italic;
    background-color: rgb(16, 108, 200);
    color: rgba(255, 255, 255, 0.87);
    padding: 1%;
    div.hdrContent {
      div {
        float: left;
        width: 3.5vh;
        height: 3.5vh;
        background-color: greenyellow;
        border-radius: 4vh;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px inset;
        &.danger {
          animation: danger 0.7s ease-in-out infinite;
        }
      }
      h1 {
        display: inline-block;
        width: 60%;
        margin-left: 2%;
      }
    }
    button{
      width: 20%;
      background-color: #4CAF50;
      color: rgba(255,255,255,0.87);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      border: none;
      padding: 7px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;

    }
    input{
      height: 4vh;
      width: 50%;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    div.editable{
      button:last-child{
       background-color: rgb(255,87,34)
      }
    }
  }
  div.measureDivider{
    @media screen and (max-width: 768px){
      width: 31%;
      margin-left: 1%;
      float: left;
    }
    padding: 0.5%;
    margin-top: 1%;
    height: calc(33% - 1% - 1%);
    span{
      @media #{$maxWidth}{
        text-align: center;
      }
      width: 100%;
      display: inline-block;
      font-size: 2.5vh;
      font-style: italic;
      color:rgba(0,0,0,0.87);
    }
    h3{
      @media #{$maxWidth}{
        top:-35%;
      }
      transition: all 0.3s linear;
      text-align: center;
      font-size: 3vh;
      width: 100%;
      position: relative;
      top: -20%;
      display: inline-block;
      background-color: transparent;
      &.dangerMax{
        color: red;
        font-size: 3.7vh;
      }
      &.dangerMin{
        color: blue;
        font-size: 3.7vh;
      }
    }


  }
}
//animations
@keyframes danger {
  form{
    background-color: #ff2e2f;
  }
  to{
    background-color: red;
  }
}
