/* You can add global styles to this file, and also import other style files */
@import "reset";
body{
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
